<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20175704240-rm6lpnp2couq87nc55fc5mjs3nttm9l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20175704240-rm6lpnp2couq87nc55fc5mjs3nttm9l6</string>
	<key>API_KEY</key>
	<string>AIzaSyCVRpXUDAj2gr-ejsQjLGhiMEKLw-lDFAw</string>
	<key>GCM_SENDER_ID</key>
	<string>20175704240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab14</string>
	<key>PROJECT_ID</key>
	<string>lab-14-ffb3e</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-14-ffb3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20175704240:ios:df1dde8bd3a547becc2b75</string>
</dict>
</plist>